<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photorama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>836C27A81EB0FEC8002FBCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836C27BC1EB0FECB002FBCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836C27C71EB0FECD002FBCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
